:root {
  /* Colors */
  --color-text: #eeeeee;
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-accent: #00adb5;

  /* Typography */
  --primary-font-family: Arial, Helvetica, sans-serif;
  --primary-font-weight: 600;
  --secondary-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  /* Spacing */
  --xs: 0.4rem; /* 4px*/
  --s: 0.5rem; /* 8px*/
  --m: 1rem; /* 16px*/
  --l: 1.5rem; /* 24px*/
  --xl: 2rem; /* 32px*/
  --xxl: 2.5rem; /* 40px*/

  /* Others */
  --border-radius: 4px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --border: solid 1px #888;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  color: var(--color-text);
  font-size: var(--m);
  background-color: var(--color-primary);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover,
  &:visited,
  &:focus {
    color: var(--color-text);
  }
  &:active {
    color: #000000;
    /* background-color: #a60000; */
  }
}

h1 {
  font-size: var(--xl);
  font-weight: var(--primary-font-weight);
}

h2 {
  font-size: var(--l);
  font-weight: var(--primary-font-weight);
}

h3 {
  font-size: calc(var(--m) + 2.72px);
  font-weight: var(--primary-font-weight);
}

h4 {
  font-size: var(--m);
  font-weight: var(--primary-font-weight);
}

h5 {
  font-size: calc(var(--m) - 2.72px);
  font-weight: var(--primary-font-weight);
}

h6 {
  font-size: calc(var(--s) + 2.72px);
  font-weight: var(--primary-font-weight);
}

p {
  font-size: var(--m);
}

/* * {
  border: 1px solid #ff0000;
} */