.navbar {
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow);
  position: relative;  
}

.navbar-container {  
  padding: 1rem 2rem;
}

.logo a {
  font-size: var(--l);  
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  padding-left: 20px;
}

.nav-link {
  color: var(--color-text);
  font-size: 1rem;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-accent);
  }
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  .bar {
    width: 25px;
    height: 2px;
    background-color: var(--color-text);
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 44px;
    height: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px var(--color-primary);
    background-color: var(--color-secondary);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease;
    padding: 0;
  }

  .nav-item {
    padding: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar-container {
    position: relative;
  }

  .active {
    height: 10rem;
  }
}
