:root {
  /* Colors */
  --color-text: #333; /* Main text color */
  --color-primary: #007bff; /* Primary color */
  --color-secondary: #6c757d; /* Secondary color */
  --color-accent: #ff6f61; /* Accent color */

  /* Typography */
  --base-font: Arial, sans-serif; /* Base font */
  --base-font-size: 16px; /* Base font size */

  /* Spacing */
  --s: 8px; /* Small spacing */
  --m: 16px; /* Medium spacing */
  --l: 24px; /* Large spacing */
  --xl: 32px; /*Extra Large spacing */
  --xxl: 40px; /*Extra Extra Large spacing */

  /* Others */
  --border-radius: 4px; /* Border radius */
  --border: solid 1px #888;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}