@import url("global.css");

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007bff;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #333;
}

.nav-menu.active {
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav-menu {
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
      display: none;
  }

  .nav-item {
      margin: 10px 0;
  }

  .menu-toggle {
      display: flex;
  }

  .navbar-container {
      position: relative;
  }

  .nav-menu.active {
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
}